body {
  font-family: Arial, sans-serif;
  background-color: brown;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 40px auto;
  background-color: pink;
  padding: 30px;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  margin-top: 0;
  width: 300px;
}
.services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: start;
  gap: 12px;
  list-style-type: none;
}

.services li {
  background-color: silver;
  padding: 10px 14px;
  border-radius: 4px;
  box-shadow: #777777 2px 2px 6px;
}

.button {
  display: flex;
  align-self: center;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: purple;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.footer {
  margin-top: 40px;
  font-size: 12px;
  color: #777777;
}
.button:hover {
  background-color: black;

}
@media (max-width: 768px) {
  /* ===== Базовые стили (mobile first) ===== */
body {
font-family: Arial, sans-serif;
background-color: #bb17b6;
margin: 0;
padding: 0;
}

.container {
max-width: 100%;
margin: 20px;
padding: 20px;
background-color: #11c3cc;
border-radius: 6px;
display: flex;
flex-direction: column;
gap: 20px;
}

h1{
font-size: 24px;
margin-top: 0;
}

h2 {
font-size: 18px;
}

.services {
display: flex;
flex-direction: column;
gap: 12px;
padding-left: 0;
list-style: none;
}

.services li {
background-color: #b3d10b;
padding: 10px 14px;
border-radius: 4px;
}

.button {
width: 100%;
text-align: center;
display: inline-block;
padding: 14px 20px;
background-color: #4a90e2;
color: #484848;
text-decoration: none;
border-radius: 6px;
transition: background-color 0.2s ease;
}

.button:hover {
background-color: #e10101;
}

.footer {
font-size: 12px;
color: #777777;
text-align: center;
}
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.contact-form input {
  padding: 10px;
  font-size: 16px;
}